<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Step 3 - View Session Data</title>
</head>
<body>
<h2>Session Data Stored on the Server:</h2>

<!-- This example shows you how to do everything using twig: http://twigfiddle.com/pr3mk1 -->

<!-- Your code here: on the next line, add a filter to print first name capitalized -->
First Name: {{ first_name }}<br/>
Last Name: <!-- Your code here: prints last name capitalized --><br/>
Age: <!-- Your code here: prints age --><br/>
Favorite Numbers: <!-- Your code here: prints numbers separated by commas --><br/>
Average of Favorite Numbers: <!-- Your code here: prints the average off all the numbers --><br/><br/>

Go back to the input form <a href="step1_form.html">here</a>.<br/>
Delete the stored session data <a href="delete_session_data.php">here</a>.
</body>
</html>