<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
My name is {{ name | capitalize }} and I'm {{ age }} years old.<br/><br/>
My luck numbers are:<br/>
{% for number in lucky_numbers %}
{{ number }}<br/>
{% endfor %}
</body>
</html>